 * {
     margin: 0px;
     padding: 0px;
 }

 .section1 {
     font-size: 15px;
     font-family: 'Times New Roman', Times, serif;
     /* display: flex;
     align-items: center; */
 }

 .container1 {
     color: rgb(177, 176, 176);
     background-color: rgb(53, 53, 53);
     padding-left: 10%;
     padding-top: 20px;
     padding-bottom: 20px;
 }

 .container2 {
     color: rgb(167, 167, 167);
     padding-left: 10%;
     padding-right: 10%;
     margin-top: 20px;
     /* display: flex;
     align-items: center; */
 }

 .text {
     flex: 1;
 }

 .container3 {
     background-color: rgb(28, 28, 28);
     padding-left: 10%;
     padding-right: 10%;
     padding-bottom: 50px;
 }

 .content2 {
     color: white;
     display: flex;
     justify-content: space-between;
     padding-top: 10px;
 }

 .content1 {
     color: white;
     padding-top: 15px;
 }

 .image1 {
     float: right;
     padding: 10px;
 }

 .image2 {
     float: left;
     padding: 10px;
 }

 .last {
     margin-top: 10px;
 }