 * {
     margin: 0px;
     padding: 0px;
 }

 .section1 {
     font-size: 15px;
     font-family: 'Times New Roman', Times, serif;
     width: 100%;
     display: flex;
     justify-content: center;
 }

 .container1 {
     color: rgb(177, 176, 176);
     background-color: rgb(53, 53, 53);
     padding-left: 10%;
     padding-top: 20px;
     padding-bottom: 20px;
 }

 .container2 {
     color: rgb(167, 167, 167);
     margin-top: 20px;
 }

 .body {
     width: 80%;
 }

 .container3 {
     background-color: rgb(28, 28, 28);
     padding-left: 10%;
     padding-right: 10%;
     padding-bottom: 50px;
 }

 .content2 {
     color: white;
     display: flex;
     justify-content: space-between;
     padding-top: 10px;
 }

 .content1 {
     color: white;
     padding-top: 15px;
 }

 .image1 {
     padding: 5px;
     border: 1px solid #e6e3d8;
 }

 .image2 {
     padding: 5px;
     border: 1px solid #e6e3d8;
 }

 .basic-4 {
     display: flex;
 }

 .last {
     margin-top: 10px;
     text-align: end;
 }

 .footer {
     display: flex;
 }